# Raw sequencing data
*.fastq
*.fastq.gz

# Alignment files
*.sam
*.bam
*.bai

# Variant files
*.vcf
*.vcf.gz
*.vcf.gz.tbi

# Downloaded SRA folders
ERR*/
SRR*/

# Temporary files
*.tmp
*.log

# Nextflow files
.work/
.nextflow*

# macOS files
.DS_Store
